  <!--
  TODO: Loop through each show and display each one with this HTML
  -->
<%= @body %>

<div class="row">

<% @shows.each do |show| %>

  <div class="col-md-3">
    <%= link_to show_page_path(:data => show['json_data']) do %>    
      <div class="thumbnail">
        <img src="http://image.tmdb.org/t/p/w500/<%=show['poster_path']%>" style="width:182px;height:268px;" >
        <div class="caption">
          <h3 class="title"> <%= show["original_name"] %> </h3>
          <p class="starring"> User Rating: <%= show["vote_average"] %> </p>
        </div>
      </div>
    <% end %>      
  </div>
<% end %>
  
</div>
